

.cuerpo {
  color: antiquewhite
  width: 100%;
  height: 8%;
  overflow: hidden;
  background: rgb(2,0,36);
	background:  #00163E;
	bottom: 0px;
	position:relative;
	
	 
	
}

.cuerpo {
	
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
	
}

.inter {

  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, yellow, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 80px;
  font-family: "lato", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
  animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
	
}
@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px white;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px white;
  }
}