*{
    margin: 0;
    padding: 0;

}
body{
max-width:100%;
max-height: 300px;
height: 100%;   

}
a.lugar{
    position: relative;
    bottom: 20px;;
}
.menuS{
    font-size: 1.3em;
}
.menuS:hover{
    transition: 1s;
    background-color: #ffea00;
    color: #0f3659;
    border-bottom: 12px solid black;
}

.titulo{
    text-align: center;
    margin: 0;
    padding: 0;
}
nav.blue-grey{
    
    z-index: 1;
    
}

div.section{
    margin: 0;
    padding: 0;
    padding: 0;
    max-height: 100%;
    height: 700px;
}
.slider{
    z-index: -1;
}
/* Imagenes de encabezado centrales*/
.uno{
    width: 150px;
    display: inline-block;
    margin: 10px;
    backdrop-filter: blur(15px);

    border-bottom: 12px solid #ffea00;
}
.uno:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
}
div.imagene-centrales{
 width: 100%;
 text-align: center;
 position: relative;
 bottom: 100px;
 color: rgb(179,184,58);
 color: linear-gradient(90deg, rgba(179,184,58,1) 36%, rgba(238,232,18,1) 91%);
 z-index: 1;
 font-size: 100px;
    
}

.fa-hard-hat, .fa-tools,
.fa-drafting-compass,
.fa-truck-moving{
    cursor: pointer;
    transition: 2s;
    
}
/*imagenes de carta*/

.cartas{
    text-align: center;
    z-index: -1;
}

.card{
    margin: 20px;
    display: inline-block;
}
img.activator{
    width: 200px;
    height: 450px;
    
}
/*dentro de las cartas*/

.dentro{
   margin-left: 150px;
}
div.card-reveal{
    margin: 0;
    padding: 0;
   
}
.materialboxed{
    margin: 5px;
}

/*pIE DE PAGINA*/

.fa-facebook-square,
.fa-whatsapp,
.fa-twitter{
 font-size: 25px;
 margin: 2px;
}
/*location=ubicacion*/

iframe{

    max-width:800px ;
    width: 100%;
    height:200px;
}
.location{
    margin: 0;
    padding: 0;
}
.subLocation{
    margin: 0;
    padding: 0;

}
/*logo*/
.logoPrincipal{
    z-index: 1;
}
.logoPrincipal{
    width:200px ;
    position: relative;
    margin-top: 5%;
    
}
div.section{
       height: 450px;
}
@media only screen and (max-width: 799px) {
    .section{
        height: 400px;
 }
.urli{
   background-color: white;
  
   }
    hr{
        display: none;
    }
    h5.white-text{
        display: none;  
    }
    footer.page{
        
    }
    .ubik{
        width: 400px;

    }
    .logoPrincipal{
        width:180px ;
               
    }
 
    div.imagene-centrales{
        /*width: 100%;
        text-align: center;
        position: relative;
        bottom: 200px;
        z-index: 1;
       
        font-size: 70px;*/
          display: none; 
       }

       .titulo{
           font-size: 2.5em;
       }
       div.section{
                
        height: 600px;
    }

        /*Dentro de las cartas*/
        .dentro{
            margin-left: 0px;
         }
         div.card-reveal{
             margin: 0;
             padding: 0;
         }
         .materialboxed{
             width: 240px;
             height: 150px;
         }
}

@media only screen and (max-width: 400px) {
    .ubik{
        width: 270px;

    }
    .logoPrincipal{
        width:150px ;
               
    }
 
    /*location*/
    iframe{
        width: 270px;
    }
    p.uno{
        width: 70px;
        height: 70px;
    }
    div.section{
                
        height: 620px;
    }
    .subLocation{
        margin: 0;
        padding: 0;
        width: 85%;
    }
    
    /*Dentro de las cartas*/
    .dentro{
        margin-left: 0px;
     }
     div.card-reveal{
         margin: 0;
         padding: 0;
     }
     .materialboxed{
         width: 240px;
         height: 150px;
     }
/*imagenes centrales*/
    div.imagene-centrales{
   /*     width: 100%;
        text-align: center;
        position: relative;
        bottom: 240px;
        z-index: 1;
        font-size: 45px;
        margin-bottom:0 ;
    */
    display: none; 
    }

     /*tamaño imagenes de proyectos o cartas*/
       img.activator{
        height: 250px;
       }
     
  }